extends layout

block content
  h1 Comprar Vuelo
  p Detalles del vuelo seleccionado:
  p Aerolínea: #{aerolinea.Aerolinea}
  p Asiento: #{aerolinea.Asiento}
  p Destino: #{aerolinea.Destino}
  p Fecha de Llegada: #{aerolinea.FechaLlegada}
  p Fecha de Salida: #{aerolinea.FechaSalida}
  p Pais de Salida: #{aerolinea.PaisSalida}
  p Precio: #{aerolinea.Precio}
